@font-face {
    font-family: "Bebas";
    src: url("fonts/BebasNeueLight.ttf") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Bebas Neue Light';
    src: url('fonts/BebasNeueLight.ttf');
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  *:focus {
    outline: 0;
  }
  
  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  #pp-nav ul,
  .pp-slidesNav ul {
    opacity: 1;
  }
  
  #pagepiling .section {
    background-size: cover;
    text-align: center;
  }
  
  #pagepiling .section h2 {
    background-size: cover;
    text-align: left;
  }
  
  #pagepiling .section.section-two {
    background-color: #101820;
    position: absolute;
  }
  
  
  #pagepiling .section.section-three {
    background-color: #101820;
    position: absolute;
  }
  
  #pagepiling .section.section-four {
    background-color: #101820;
    position: absolute;
  }
  
  #pagepiling .section.section-five {
    background-color: #101820;
    position: absolute;
  }
  
  #pagepiling .section.section-six {
    background-color: #101820;
    position: absolute;
  }
  
  #pagepiling .section.section-seven {
    background-color: rgb(255, 255, 255);
    position: absolute;
  }
  
  #pagepiling .section.section-eight {
    background-color: rgb(255, 255, 255);
    position: absolute;
  }
  
  #pagepiling .section.section-nine {
    background-color: rgb(255, 255, 255);
    position: absolute;
  }
  
  #pp-nav li .active span,
  .pp-slidesNav .active span {
    background-color: #ffffff;
  }
  
  .title {
    font-size: 90px;
    /* line-height: 105px; */
  }
  
  .sub-title {
    font-size: 90px;
    /* line-height: 26px; */
  }
  
  .slide1text {
    position: absolute;
    bottom: 232px;
    left: 150px;
    z-index: 900;
    text-transform: uppercase;
    text-align: left;
  }
  
  .subtitle1,
  .subtitle2 {
    font-size: 66px;
    font-family: "Bebas Neue";
    line-height: 82px;
  
  }
  
  .subtitle1 {
    color: #f93822;
    font-size: 88px;
  
  }
  
  .subtitle2 {
    color: #fff;
    font-size: 88px;
  }
  
  header a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Bebas Neue Light";
    position: relative;
    top: 20px;
    left: -183px;
    letter-spacing: 2px;
  }
  
  header a:hover {
    color: #2ad2c9;
  }
  
  header {
    position: sticky;
    top: 0;
    bottom: 90%;
    right: 100%;
    font-family: "Roboto";
  }
  
  header h5 {
    display: inline-block;
    margin: 0 10px;
    font-size: medium;
  }
  
  
  
  header nav {
    display: inline-block;
  }
  
  .homeslider {
    max-width: 100%;
    height: 100vh;
    width: 100vw;
  }
  
  #homeMG {
    position: absolute;
    height: 456px;
    width: 505px;
    top: 88px;
    right: 200px;
  }

  .homelogo {
    width: 202px;
    height: 43px;
    position: absolute;
    z-index: 1;
    top: 34px;
    left: 65px;
  }
  
  .slide2image .slide2I {
    position: absolute;
    top: -120px;
    right: -45px;
    width: 383px;
  }
  
  .slide2im {
    max-width: 100%;
    width: 90vw;
    height: 100vh;
  }
  
  .slide2text {
    color: white;
    text-align: left;
    position: absolute;
    font-size: 36px;
    top: 240px;
    left: 375px;
    font-family: "Bebas Neue";
    font-weight: bold;
  }
  
  .slide2subtext {
    color: white;
    text-align: left;
    position: absolute;
    font-size: 13px;
    top: 314px;
    left: 374px;
    font-family: "Roboto";
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  
  .slide2image {
    position: absolute;
    right: 214px;
    top: 120px;
  }
  
  .slide3image .slide3I {
    position: absolute;
    top: 121px;
    right: 180px;
    width: 382px;
  }
  
  .slide3text {
    color: white;
    text-align: left;
    position: absolute;
    font-size: 33px;
    top: 166px;
    left: 375px;
    font-family: "Bebas Neue";
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .slide3subtext {
    color: white;
    text-align: left;
    position: absolute;
    font-size: 13px;
    top: 238px;
    left: 374px;
    font-family: "Roboto";
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  
  
  .slide3image {
    position: absolute;
    top: -120px;
    right: -11px;
    width: 377px;
  }
  
  .slide4image .slide4I {
    position: absolute;
    top: -120px;
    right: -45px;
    width: 383px;
  }
  
  .slide4text {
    color: white;
    text-align: left;
    position: absolute;
    font-size: 36px;
    top: 163px;
    left: 375px;
    font-family: "Bebas Neue";
    font-weight: bold;
  }
  
  .slide4subtext {
    color: white;
    text-align: left;
    position: absolute;
    font-size: 13px;
    top: 237px;
    left: 374px;
    font-family: "Roboto";
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  
  .slide4subtext2 {
    color: #2ad2c9;
    text-align: left;
    position: absolute;
    font-size: 9px;
    top: 275px;
    left: 0px;
    font-family: "Roboto Thin";
    white-space: nowrap;
  }
  
  .slide4image {
    position: absolute;
    right: 214px;
    top: 120px;
  }
  
  .slide5image .slide5I {
    position: absolute;
    top: -116px;
    right: -44px;
    width: 382px;
  }
  
  .slide5text {
    color: white;
    text-align: left;
    position: absolute;
    font-size: 36px;
    top: 262px;
    left: 375px;
    font-family: "Bebas Neue";
    font-weight: bold;
  }
  
  
  .slide5subtext {
    color: white;
    text-align: left;
    position: absolute;
    font-size: 13px;
    top: 336px;
    left: 374px;
    font-family: "Roboto";
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  
  .slide5image {
    position: absolute;
    right: 214px;
    top: 120px;
  }
  
  .slide9text {
    color: #f93822;
    text-align: left;
    position: absolute;
    font-size: 47px;
    top: 155px;
    left: 169px;
    font-family: "Bebas Neue";
    font-weight: bold;
}

.slide9text2 {
    color: #279989;
    text-align: left;
    position: absolute;
    font-size: 16px;
    top: 209px;
    left: 168px;
    font-family: "Bebas Neue";
    letter-spacing: 3px;
}

.slide9image .slide9I {
    position: absolute;
    top: 49px;
    right: -46px;
    width: 555px;
}

.slide9subtext {
    color: #000000;
    text-align: left;
    position: absolute;
    font-size: 13px;
    top: 262px;
    left: 169px;
    font-family: "Roboto";
    letter-spacing: 1px;
    line-height: 17px;
    font-weight: 600;
}
.slide9image {
    position: absolute;
    right: 214px;
    top: 120px;
}

.pp-tooltip {
  color: #2ad2c9 !important;
}

#pp-nav li .active span,
.pp-slidesNav .active span {
    background: #f93822 !important;
}